.fbc{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    text-align: center;
}
/**/
.mainText {
    color: rgb(213, 235, 248);
    font-size: 20px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif
    
    
  }
/* only here for the landing*/
  .picfbc{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:15em;
    height:15em;
  
   
    }
    img{
      height: 400px;
      width: 400px;
     
  }
/* mostly here just for the about me page*/
.picdisplayflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.picdisplay{
  font-size: 10px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  text-justify: auto;

}


/* animated background*/
body {
	background: linear-gradient(-45deg,  rgb(255, 2, 2), orange, Green, Blue, Indigo,violet);
	background-size: 500% 500%;
	animation:gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 25%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 25%;
	}
}


/* for the links at the top*/
ul {
  list-style-type: none;
 
  

 
    
}

li {
  float: left;
}

li a {
  display:block;
  color: rgb(247, 204, 234);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
 opacity: 75%;
}


/* for the links at the bottom*/ 
.buttonimg{
  height: 40px;
  width: 100px;
  border-radius: 75px;
 margin: 20px;
}

.buttonimg:hover{
  opacity: 75%;
}


.float-container {
 text-align: left;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  text-align: left;
} 
/* only for the caption text on about me*/
.text {
    
  color: rgb(250, 248, 248);
  font-size: 16px;
  padding: 16px 32px;
}









