.fbc{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(205, 235, 252);;
}

.mainText {
    color: rgb(86, 119, 138);
    font-size: 20px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif
  }

  .picfbc{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:20em;
    height:22em;
   
    }
img{
    height: 215px;
    width: 215px;
}

.picdisplaygrid{
  display: grid;
  grid-template-columns: 207px 205px 235px;
 justify-content: center;
  
}

.picdisplay{
  background-color: rgb(55, 116, 124);
  padding:10px;
  font-size: 10px;
  text-align: center;
 
  
    
}
